<div class="home-intro">
    <div class="jumbo">Be You. Be Cachét.</div>
    <br>
    <br>
    <div>Cachét is my personal brand, representing character and charm. it embodies being true to yourself.</div>
    <div>this site is a collection of my projects and experiences</div>
    <br>
    <div>- <a href="https://cachet.bearblog.dev/blog">personal blog</a> where i share my thoughts and ideas</div>
    <br>
    <div>- <a href="https://arien-aviation.vercel.app/">Arien Aviation</a> my new company achieving the new frontier for aviation intelligence</div>
</div>

